In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [133]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [135]:
Madagascar = data[(data["Area"] == "Madagascar")& (data["Y2015"])]

In [136]:
data.sample(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
31555,129,Madagascar,2616,Plantains,5131,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
47623,195,Senegal,2571,Soyabean Oil,674,Protein supply quantity (g/capita/day),g/capita/day,0.0,0.0,0.0,0.0,0.0

In [38]:
data.groupby("Y2014")["Y2014"].count()
data[["Y2014"]] = data[["Y2014"]].fillna(value="mcf")

data.groupby("Y2015")["Y2015"].count()
data[["Y2015"]] = data[["Y2015"]].fillna(value="mcf")

data.groupby("Y2016")["Y2016"].count()
data[["Y2016"]] = data[["Y2016"]].fillna(value="mcf")

data.groupby("Y2017")["Y2017"].count()
data[["Y2017"]] = data[["Y2017"]].fillna(value="mcf")

data.groupby("Y2018")["Y2018"].count()
data[["Y2018"]] = data[["Y2018"]].fillna(value="mcf")

In [41]:
data.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [42]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.4,80.19,77.28

In [45]:
# Number of unique countries is 49
data["Area"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "C?e d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [52]:
# checking for number of rows and columns
data.shape

(60943, 12)

In [50]:
# What is the total protein supply quantity in Madagascar in 2015
madagascar = data[(data["Area"] == "Madagascar") & (data["Element"] == "Protein supply quantity (g/capita/day)")]
tps= madagascar["Y2015"].sum()
tps

173.04999999999998

In [76]:
# Nigeria had the highest sum in 2017
data.groupby("Y2017")["Y2017"].count()
data.groupby("Area").first()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,4,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Angola,7,2501,Population,511,Total Population - Both sexes,1000 persons,26942.00,27884.00,28842.00,29817.00,30810.00
Benin,53,2501,Population,511,Total Population - Both sexes,1000 persons,10287.00,10576.00,10872.00,11175.00,11485.00
Botswana,20,2501,Population,511,Total Population - Both sexes,1000 persons,2089.00,2121.00,2160.00,2205.00,2254.00
Burkina Faso,233,2501,Population,511,Total Population - Both sexes,1000 persons,17586.00,18111.00,18646.00,19193.00,19751.00
C?e d'Ivoire,107,2501,Population,511,Total Population - Both sexes,1000 persons,22648.00,23226.00,23823.00,24437.00,25069.00
Cabo Verde,35,2501,Population,511,Total Population - Both sexes,1000 persons,518.00,525.00,531.00,537.00,544.00
Cameroon,32,2501,Population,511,Total Population - Both sexes,1000 persons,22682.00,23298.00,23927.00,24566.00,25216.00
Central African Republic,37,2501,Population,511,Total Population - Both sexes,1000 persons,4464.00,4493.00,4538.00,4596.00,4666.00
Chad,39,2501,Population,511,Total Population - Both sexes,1000 persons,13664.00,14111.00,14562.00,15017.00,15478.00
Comoros,45,2781,"Fish, Body Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Congo,46,2501,Population,511,Total Population - Both sexes,1000 persons,4737.00,4856.00,4981.00,5111.00,5244.00
Djibouti,72,2501,Population,511,Total Population - Both sexes,1000 persons,899.00,914.00,929.00,944.00,959.00
Egypt,59,2501,Population,511,Total Population - Both sexes,1000 persons,90425.00,92443.00,94447.00,96443.00,98424.00
Eswatini,209,2501,Population,511,Total Population - Both sexes,1000 persons,1095.00,1104.00,1114.00,1125.00,1136.00
Ethiopia,238,2501,Population,511,Total Population - Both sexes,1000 persons,98094.00,100835.00,103603.00,106400.00,109224.00
Ethiopia PDR,62,2782,"Fish, Liver Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Gabon,74,2501,Population,511,Total Population - Both sexes,1000 persons,1884.00,1948.00,2008.00,2065.00,2119.00
Gambia,75,2501,Population,511,Total Population - Both sexes,1000 persons,2024.00,2086.00,2149.00,2214.00,2280.00
Ghana,81,2501,Population,511,Total Population - Both sexes,1000 persons,27224.00,27849.00,28482.00,29121.00,29767.00
Guinea,90,2501,Population,511,Total Population - Both sexes,1000 persons,11151.00,11432.00,11738.00,12068.00,12414.00
Guinea-Bissau,175,2501,Population,511,Total Population - Both sexes,1000 persons,1692.00,1737.00,1782.00,1828.00,1874.00
Kenya,114,2501,Population,511,Total Population - Both sexes,1000 persons,46700.00,47878.00,49052.00,50221.00,51393.00
Lesotho,122,2501,Population,511,Total Population - Both sexes,1000 persons,2043.00,2059.00,2075.00,2092.00,2108.00
Liberia,123,2501,Population,511,Total Population - Both sexes,1000 persons,4360.00,4472.00,4587.00,4702.00,4819.00
Madagascar,129,2501,Population,511,Total Population - Both sexes,1000 persons,23590.00,24234.00,24894.00,25571.00,26262.00
Malawi,130,2501,Population,511,Total Population - Both sexes,1000 persons,16290.00,16745.00,17205.00,17670.00,18143.00
Mali,133,2501,Population,511,Total Population - Both sexes,1000 persons,16934.00,17439.00,17965.00,18512.00,19078.00
Mauritania,136,2501,Population,511,Total Population - Both sexes,1000 persons,3931.00,4046.00,4164.00,4283.00,4403.00
Mauritius,137,2501,Population,511,Total Population - Both sexes,1000 persons,1257.00,1259.00,1262.00,1264.00,1267.00
Morocco,143,2501,Population,511,Total Population - Both sexes,1000 persons,34192.00,34664.00,35126.00,35581.00,36029.00
Mozambique,144,2501,Population,511,Total Population - Both sexes,1000 persons,26286.00,27042.00,27830.00,28649.00,29496.00
Namibia,147,2501,Population,511,Total Population - Both sexes,1000 persons,2273.00,2315.00,2358.00,2403.00,2448.00
Niger,158,2501,Population,511,Total Population - Both sexes,1000 persons,19240.00,20002.00,20789.00,21602.00,22443.00
Nigeria,159,2501,Population,511,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Rwanda,184,2501,Population,511,Total Population - Both sexes,1000 persons,11084.00,11369.00,11669.00,11981.00,12302.00
Sao Tome and Principe,193,2501,Population,511,Total Population - Both sexes,1000 persons,196.00,199.00,203.00,207.00,211.00
Senegal,195,2501,Population,511,Total Population - Both sexes,1000 persons,14175.00,14578.00,14994.00,15419.00,15854.00
Seychelles,196,2781,"Fish, Body Oil",5511,Production,1000 tonnes,0.87,1.24,1.28,0.57,0.57
Sierra Leone,197,2501,Population,511,Total Population - Both sexes,1000 persons,7017.00,7172.00,7329.00,7488.00,7650.00
South Africa,202,2501,Population,511,Total Population - Both sexes,1000 persons,54544.00,55386.00,56208.00,57010.00,57793.00
Sudan,276,2501,Population,511,Total Population - Both sexes,1000 persons,37978.00,38903.00,39847.00,40813.00,41802.00
Sudan (former),206,2781,"Fish, Body Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Togo,217,2501,Population,511,Total Population - Both sexes,1000 persons,7138.00,7323.00,7510.00,7698.00,7889.00
Tunisia,222,2501,Population,511,Total Population - Both sexes,1000 persons,11063.00,11180.00,11304.00,11433.00,11565.00
Uganda,226,2501,Population,511,Total Population - Both sexes,1000 persons,36912.00,38225.00,39649.00,41167.00,42729.00
United Republic of Tanzania,215,2501,Population,511,Total Population - Both sexes,1000 persons,49961.00,51483.00,53049.00,54660.00,56313.00
Zambia,251,2501,Population,511,Total Population - Both sexes,1000 persons,15400.00,15879.00,16363.00,16854.00,17352.00
Zimbabwe,181,2501,Population,511,Total Population - Both sexes,1000 persons,13587.00,13815.00,14030.00,14237.00,14439.00

In [150]:
# The total number of the sum of processing in 2017 is 292836.00
data.groupby("Element").sum()

C:\Users\MAC\AppData\Local\Temp\ipykernel_8904\2817832392.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [151]:
# 2014 had the highest stock variation
data.groupby("Element").sum()

C:\Users\MAC\AppData\Local\Temp\ipykernel_8904\2817832392.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [152]:
# 2015 has the least correlation with element code
data.corr()

C:\Users\MAC\AppData\Local\Temp\ipykernel_8904\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [154]:
data.dropna().describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000
mean,134.499342,2690.495656,3745.422868,137.831770,138.990488,140.376380,144.927790,148.027664
std,72.651212,146.625825,2217.914615,1588.660769,1625.441821,1662.732983,1695.436448,1735.920219
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2563.000000,674.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2633.000000,5142.000000,0.140000,0.130000,0.130000,0.160000,0.130000
75%,196.000000,2781.000000,5301.000000,9.000000,9.000000,9.000000,10.000000,10.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [140]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [145]:
# percentage of missing data
percentage = data.isnull().sum() *100/len(data)
print(round(percentage,3))

Area Code       0.000
Area            0.000
Item Code       0.000
Item            0.000
Element Code    0.000
Element         0.000
Unit            0.000
Y2014           2.607
Y2015           2.540
Y2016           2.519
Y2017           2.471
Y2018           2.356
dtype: float64

In [149]:
data.groupby("Item").sum()

C:\Users\MAC\AppData\Local\Temp\ipykernel_8904\2168619159.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Item").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09